.actors-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

.actor-card {
  background: #1f1f1f;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.actor-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
}

.summary {
  margin-top: 10px;
}
